/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html {
     box-sizing: border-box;
     max-width: 1450px;
     margin: 0;

   }

   *, *:before, *:after {
     box-sizing: inherit;
   }

   body {
     font-family: sans-serif;
     line-height: 1.4;
     background-color: #f7f6f4;
   }

   img {
     max-width: 100%;
     height: auto;
   }

   /* begin header styling */

   header {
     position: fixed;
     z-index: 100;
     height: 4.375em;
     width: 100%;
     font-family: "sofia-pro", sans-serif;
     background-color: hsla(0, 0%, 100%, 0.5);
   }

   header h1 {
     margin-top: 1.6em;
     padding: 0;
     text-align: center;
     font-style: normal;
     font-weight: 500;
     font-size: 1em;
   }

   .main-nav {
     position: absolute;
     margin: 0;
     padding: 0;
     top: 0;
     left: 0;
   }

   header li {
     display: inline-block;
     font-size: .9em;
   }

   header li:after {
     content: "/";
   }
   header li .last:after {
     content: "";
   }

   header a {
     text-decoration: none;
     color: black;
   }

   header li {
     padding-top: .8em;
   }

   header .icon {
     float: right;
     width: 21px;
     margin-top: 1.2em;
     margin-right: 1.8em;
   }

   /* end header styling */

   /* begin first section of images */

   .column1 {
     width: 100%;
     display: inline-block;
   }
   .column1 .img_1 {
     width: 60%;
     padding-right: 10px;
   }

   .column1 .img_2 {
    width: 40%;
    height: auto;
    padding-left: 20px;
    float: right;

   }

   /* end first section of images */

   /*begin second group of 4 images styling */

   .row {
     display: inline-block;
     width: 100%;
     height: auto;
     position: relative;
     margin: 1em;
   }

   .row img {
     float: inherit;
   }
   .image_3 {
     width: 100%;
   }

   .image_4 {
     width: 100%;
   }

    .img_5 {
     width: 50%;
   }

   .quote {
     background-color: #e3e0da;
     width: 49%;
   }

   .row .quote {
     height: 42.875em;
     position: absolute;
     top: 50%;
     left: 73%;
     transform: translate(-50%,-50%);
     text-align: center;
     color: #5a5a59;
   }

   .content p {
     padding: 0em 2em;
     padding-top: 8em;
     font-family: "arno-pro", serif;
     font-size: 2em;
   }

   .content h4 {
     font-family: "fenwick", sans-serif;
     font-size: .9em;
   }

   /* end of second group of photos */

   /* process section */

   .process {
     text-align: center;
     padding: 4em 27em;
     color: #5f5f5f;
     font-family: verdana, sans-serif;
     line-height: 1.7;
   }

   .process h4 {
     font-size: .8em;
     font-weight: 200;
   }

   .process p {
     font-weight: bold;
     padding: 3em 0em;
     font-size: 1.1em;
   }

   .process .btn {
     background-color: #5a5a5a;
   }

   .process a {
     text-decoration: none;
     color: white;
     padding: 1.3em 1.6em;
   }

   .process a:hover {
     background-color: #414141;
   }

   /* end of process section */

   /* beginning of page section */

   .page-section {
     overflow: hidden;
     position: relative;
     margin: 1em 12em;
   }

   .page-section .text {
     border-left: 1px solid grey;
     padding: 20px;
     font-family: "sofia-pro", sans-serif;
     color: #5f5f5f;
   }

   .page-section h3 {
     font-size: 1.3em;
   }

   .page-section p {
     font-size: .8em;
     font-weight: lighter;
     font-family: "tribute", sans-serif;
   }
   .thumb-section1 {
     float: left;
     width: 33.333%;
     height: auto;
     padding: 40px 50px;
   }

   .thumb-section2 {
     float: left;
     width: 50%;
     padding: 0px 150px;
     margin-top: 3em;
   }

   .page-section .social {
     clear: left;
     text-align: center;
     padding-top: 90px;
     color: #5f5f5f;
     font-family: "sofia-pro", sans-serif;
   }

   .social h4 {
     font-size: .9em;
     font-weight: 300;
   }

   .social i {
     font-size: 1.5em;
     line-height: normal;
     padding: 0;
     margin: 0;
   }



   /* beginning of instagram section */

   .insta-grid {
     overflow: hidden;
     border-bottom: 1px solid #cbc8c3;
     padding-bottom: 25px;
     width: 100%;
   }
   .insta-thumb {
     position: relative;
     width: 25%;
     float: left;

   }

   .insta-thumb:hover {
     background-color: hsla(36, 11%, 92%, 0.8);
   }

   .insta-thumb img {
     position: relative;
     z-index: -100;
   }

   .insta-content {
     display: none;
   }

   .insta-thumb:hover h4 {
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 15em;
     margin: 0;
     text-align: center;
     color: black;
     font-weight: 100;
   }





   /* begin footer section */

   footer {
     width: 100%;
     padding: 20px 40px;
   }

   footer .about {
     width: 32em;
   }

   .footer-links {
     padding-left: 10em;
     float: right;
   }

   .footer-section {
     display: inline-block;
     width: 30%;
     padding-top: 20px;
     margin-left: 8px;
   }

   .footer-section ul {
     overflow: hidden;
     border-left: 1px solid #cbc8c3;
     padding: 10px;
   }

   .footer-section li {
     width: 200px;
     list-style: none;
     padding: 3px;

   }

   .footer-section a {

     text-decoration: none;
     color: #5a5a59;
   }

   .footer-section a:hover {
     border-bottom: 1px solid #5a5a59;
   }

   footer h2 {
     font-family: "fenwick", sans-serif;
   }

   .about h2 {
     width: 70%;
   }
   .about p {
     color: #5a5a59;
   }

   .social {
     padding: 20px;
     padding-left: 0px;
   }
   .social a {
     color: #cbc8c3;
     padding: 10px;
     font-size: 20px;
   }

   .social a:hover {
    color: #000;
   }

   /*end footer section */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media (max-width: 80em) {
  .page-section {
    margin: 1em 0em;
  }

  .thumb-section2 {
    padding: 0px 120px;
  }
  .process {
    padding: 4em 25em;
  }
  .process p {
    padding: 3em 0em;
  }
  #quote-row {
    width: 100%;
  }
  .row .quote {
    width: 50%;
    height: 33em;
  }
  .column {
    width: 50%;
    margin: 0px;
  }
}

@media (max-width: 60em) {
    footer {
      width: 100%;
    }
    .page-section {
      margin: 1em 0em;
    }
    .thumb-section2 {
      padding: 0px 80px;
    }
    .process {
      padding: 4em 10em;
    }
}

@media (max-width: 40em) {
    .column {
        width: 100%;
   }
   .process {
     padding: 4em 5em;
   }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
